APScheduler==3.6.3
async-lru==1.0.2
cffi==1.14.2
cryptography==3.1
OpenCC==1.1.1.post1
pyaes==1.6.1
pyAesCrypt==0.4.3
pycparser==2.20
Pyrogram==1.0.4
PySocks==1.7.1
pytz==2020.1
PyYAML==5.3.1
six==1.15.0
TgCrypto==1.2.1
tzlocal==2.1
